################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1-var5/.vs
/Lab1-var5/Debug
/Lab1-var5/x64/Debug
/Lab1-var5/Polyline.vcxproj.user
/Lab1-var5/Polyline.vcxproj.filters
/Lab1-var5/Polyline.vcxproj
/Lab1-var5/Polyline.sln
/Lab1-var5/Polyline.cpp
/Lab1-var5/CmakeLists.txt
/Lab1-var5/.gitignore
/Lab1-var5/tests/Polyline_tests.cc
/Lab1-var5/src/Polyline.cc
/Lab1-var5/include/Polyline/Polyline.h
*.vsidx
*.ipch
*.opendb
*.db-wal
*.db-shm
*.db
*.suo
*.pdb
*.idb
*.obj
*.tlog
*.recipe
*.ilk
*.log
*.sln
*.exe
/Lab1-var5/Polyline/Polyline/Debug/Polyline.vcxproj.FileListAbsolute.txt
/.gitignore
/Lab2-var3-531/LinkedList/x64/Debug
/Lab2-var3-531/LinkedList/.vs
/Lab2-var3-531/LinkedList/Debug
/Lab2-var3-531/.vs
/Lab3-var16-120/.vs
