################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1-var5/.vs
/Lab1-var5/Debug
/Lab1-var5/x64/Debug
